@model Shampan.Models.AuditModule.AuditMaster

<h1>Excel Index</h1>

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link href="~/css/button.css" rel="stylesheet" />

<div id="accordion">

    <div class="card">

        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseExcel" aria-expanded="true" aria-controls="collapseExcel">
                    <h3>Multiple Audit Upload</h3>
                </button>
            </h5>
        </div>

        <div id="collapseExcel" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">

                <div class="card card-secondary">

                    <div class="card-body">

                        @using (Html.BeginForm("ExcelCreateEdit", "Audit", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm_Audit_Excel" }))
                        {
                            <div class="form-group">
                                <label asp-for="Attachments" class="control-label">Audit Excel Upload</label>
                                <input asp-for="Attachments" type="file" class="form-control-file" multiple />
                                <span asp-validation-for="Attachments" class="text-danger"></span>
                            </div>

                            <button class="button sslSave" type="submit" id="">Show</button>
                        }

                        <div>
                      </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>


@section scripts{

    <script src="/js/app/Services/CommonService.js"></script>
    <script src="/js/app/Services/AuditFeedBack/AuditFeedbackService.js"></script>
    <script src="/js/app/Services/AuditIssue/AuditIssueService.js"></script>
    <script src="/js/app/Services/Audit/AuditService.js"></script>
    <script src="/js/app/Controllers/Audit/AuditController.js"></script>
    <script src="/js/app/controllers/dashcontroller.js"></script>
    <script src="/js/app/Services/AuditApproveStatusService.js"></script>
    <script src="/js/app/Controllers/AuditApproveStatusController.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script>

        $(document).ready(function () {

            AuditController.init();

        });

    </script>

    }