@model Shampan.Models.Tours

@{
    ViewData["Title"] = "Index";
}

@Html.Partial("_Header",new HeaderModel(){ HeaderName = "Sale", BreadCrums = new Dictionary<string, string>()
{
    {"/Tours","Index"},
    {"","Index"},
}})

<link href="~/css/button.css" rel="stylesheet" />

<div class="container-fluid">


    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">
                List Of Data
            </h3>

        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered table-striped" style="width:100%" id="SaleList">
                    <thead>
                        <tr>

                            <th class="action"><input type="checkbox" class="chkAll" />&nbsp;Action</th>
                            
                            <th>SalesInvoiceNo</th>
                            <th>Branch Code</th>
                            <th>Branch Name</th>
                            <th>Customer Code</th>
                            <th>Customer Name</th>
                            <th>Invoice DateTime</th>
                            <th>Product Code</th>
                            <th>Product Name</th>
                            <th>NBR Price</th>
                            <th>VAT Amount</th>
                            <th>Sub Total</th>
                    


                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

@section scripts{

    <script src="/js/app/Services/CommonService.js"></script>


    <script src="/js/app/Services/BranchAccountingService.js"></script>
    <script src="/js/app/Controllers/BranchAccountingController.js"></script>

    <script>

        $(document).ready(function () {

            BranchAccountingController.init();


        });

    </script>
    }

